.NavBarStyle {
  background-color: #7056d6;
  border-radius: 1.25rem;
  align-items: center;
  padding: 25px;

  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  color: #ffffff;
}

.bg {
  /* The image used */
  background-image: url('./img/home-background.jpg');

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */

  left: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navBarFont {
  color: #ffffff;
}
.cardTitle {
  text-align: center;
  background: rgba(204, 204, 204, 0);
  color: #ffffff;
  cursor: pointer;
}

.cardShape {
  border-radius: 1.25rem;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  background: rgba(204, 204, 204, 0);
}
.cardCustom {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  background: rgba(204, 204, 204, 0);
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.cardImageCustom {
  border-radius: 1.25rem;
  min-width: 12.875rem;
  min-height: 12.875rem;
  cursor: pointer;
}

.singleImageCustom {
  border-radius: 1.25rem;
  min-width: 30.875rem;
  min-height: 30.875rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}

input[type='button'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  min-width: 500px;
  min-height: 10px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #7056d6;
  font-size: 3rem;
  line-height: 1.5;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
